{% extends 'v1/layouts/layout-2-1.html' %}

{% import 'v1/includes/templates/streamfield-sidefoot.html' as streamfield_sidefoot with context %}
{% import 'v1/includes/templates/render_block.html' as render_block with context %}
{% import 'recent-notices.html' as recent_notices with context %}

{# HEAD items #}

{% block css -%}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('apps/regulations3k/css/main.css') }}">
{%- endblock css %}

{# BODY items #}

{% block content_intro -%}
    {% for block in page.header -%}
        {{ render_block.render(block, loop.index) }}
    {%- endfor %}
{% endblock %}

{% block content_main scoped %}
    {% for block in page.content -%}
        {{ render_block.render(block, loop.index) }}
    {%- endfor %}
{% endblock content_main %}

{% block content_sidebar scoped -%}
    {{ recent_notices }}
    {{ streamfield_sidefoot.render(page.sidefoot) }}
{%- endblock %}

{% block javascript scoped %}
    {{ super() }}
    <script>
      jsl([
        '{{ static("apps/regulations3k/js/index.js") }}',
        '{{ static("apps/regulations3k/js/recent-notices.js") }}'
      ]);
    </script>
{% endblock javascript %}
